@{
    ViewData["Title"] = "Home Page";
}

<nav>
    <ul>
        <li>
            <button id="sign-up">Sign-up</button>
        </li>
        <li>
            <button id="log-in">Log-in</button>
        </li>
    </ul>
</nav>
