/*
    TITULO: ESTILOS CSS PARA VISTA EDIT
    AUTOR: ADRIEL HERRERA

    DESCRIPCION: CSS con estilos para cada contenedor div de la
    vista Edit. La estructura de la vista se basa en un contenedor principal
    (main_div_edit) que aloja todos los demás contenedores. Luego, este
    contenedor se divide en otros dos: header_edit (para el titulo) y 
    body_edit (para el cuerpo en si de la historia).

*/

body{
    height: 100%;
}

html {
    padding: 0px;
    font-size: 15px;
}

#main_div_edit {
    width: 100%;
    display: flex;
    margin: auto;
    padding: 20px;
    flex-direction: column;
    gap: 20px;
    background: #333333;
    min-height: 100%;
}

#header_edit {
    flex: 1;
    background: #9D622E;
    min-height: 75px;
    display: flex;
    flex-direction: column;
}

#title_edit {
    flex: 2;
    font-weight: bold;
    font-size: 30px;
    align-items: center;
    display: flex;
    padding: 10px;
    overflow-x:hidden;
    white-space: nowrap;
    min-height: fit-content;
}

#header_options_edit {
    background: gray;
    flex: 1;
    display: flex;
    gap: 20px;
    padding: 0 10px 0 10px;
    align-items: center;
    justify-content: center;
    padding: 5px;
}

#body_edit {
    flex: 5;
    display: flex;
    gap: 20px;
}

#info_edit {
    background: #9D622E;
    flex: 1;
    min-width: 150px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}

#info_text_edit {
    width: 100%;
    max-height: fit-content;
    flex: 3;
    font-size: 15px;
}

#info_tags_edit {
    width: 100%;
    flex: 1;
    display: flex;
    gap: 10px;
    flex-direction: column;
}

#info_add_tags_edit {
    width: 100%;
    flex: 1;
    max-height: fit-content;
}

.info_tags{
    background: gray;
    min-width: fit-content;
    height: 30px;
    font-size: 15px;
    justify-content: space-between;
    align-items: center;
    display: flex;
    flex-basis: 60px;
    border-radius: 8px;
    padding: 0 2px 0 10px;
}

.xtag {
    border-radius: 100%;
    min-width: 20px;
    min-height: 20px;
    justify-content: center;
    align-items: center;
    display: flex;
    user-select: none;
    font-weight: bold;
    margin: 0 0 0 8px;
    cursor: pointer;/*MOD 1*/
}

#info_tags_box {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    flex: 3;
    max-height: fit-content;
    gap: 10px;
}

.tagtitle {
    width: 100%;
    font-size: 15px;
}

#text_edit {
    flex: 1 1 3;
    display: flex;
    flex-direction: column;
    gap: 20px;
    min-width: 250px;
    width: 850px;
    max-width: 850px;
    margin: auto;
}


#add_tag {
    margin: 15px;
    width: 70%;
    height: 20px;
    font-size: 12px;
    
}

#input_tag{
    display: flex;
    align-items: center;
    justify-content: center;
}

#notebook_edit {
    flex: none;
    background-color: white;
    display: flex;
    height: 200px;
    border-radius: 20px;
    padding: 10px;
    overflow-y: auto;
    width: 100%;
    flex-direction: column;
    min-width: 0;
    max-width: 100%;
    overflow-x: hidden;
}

#type_edit {
    flex: 1;
    width: 100%;
    display: flex;
    gap: 20px;
}

#input_story {
    flex-basis: 70%;
    height: 125px;
    background-color: white;
    border: none;
    vertical-align: top;
    font-size: 15px;
    font-family: Arial, sans-serif;
    padding: 10px;
}

#buttons_ia_edit {
    flex-basis: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    min-width: fit-content;
    padding: 5px;
    font-size: 15px;
}

.buttons_ia {
    padding: 5px;
    border-radius: 10px;
    background-color: #9D622E;
    width: 80%;
    height: 30px;
    font-weight: bold;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 160px;
    cursor: pointer; /*MOD 1*/
}

.add_stars{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-wrap: nowrap;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.star {
    flex: 0 1 30px;
    aspect-ratio: 1 / 1;
    background: url(../Images/star.png);
    background-size: cover;
    background-position: center;
    display: flex;
    cursor: pointer; /*MOD 1*/
}

.star2 {
    flex: 0 1 30px;
    aspect-ratio: 1 / 1;
    background: url(../Images/star.png);
    background-size: cover;
    background-position: center;
    display: flex;
}

#head_stars {
    flex: 2;
    min-width: fit-content;
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

#editbar {
    flex: 5;
    font-size: 15px;
    text-align: center;
    align-items: center;
    display: flex;
    padding: 0 0 0 10px;
    min-width: fit-content;
}

.editbarbut {
    padding: 5px;
    border-radius: 10px;
    background-color: #9D622E;
    height: 25px;
    font-weight: bold;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: fit-content;
    flex: 1;
    font-size: 15px;
    cursor: pointer; /*MOD 1*/
}

/*
    TITULO DE LA MODIFICACION: CONTENEDORES PARA LA EDICION DE LA HISTORIA (CSS)
    NUMERO DE MODIFICACION: 1
    AUTOR: ADRIEL HERRERA
    FECHA DE CREACION: 12/10/2025

    DESCRIPCION: Esta nueva actualizacion se va a centrar en crear las clases
    para la instancia de divs, como cuando alguien va a escribir una nueva parte
    de la historia o va agregar una nueva etiqueta.

*/

.history_fragment {
    color: black;
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    border-left: solid 4px black;
    flex: 1;
    max-height: fit-content;
}

.frag_user {
    width: fit-content;
    height: fit-content;
    font-size: 12px;
    margin-left: 4px;
    font-weight: bold;
}

.frag_text {
    flex: none;
    height: fit-content;
    border-radius: 2px;
    margin-top: 4px;
    padding: 10px;
    font-size: 15px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    width: 100%;
    text-align: justify;
    color: black;
}

p{
    font-size: 15px;
}